@import url("./globalvars.css");
:root {}

@keyframes button-light-hover {}

button.pressable {
    display: block;
    transition: all 0.5s ease-in;
    position: relative;
}

button.pressable:hover {
    transition: all 0.2s ease-out;
}

button.pressable:active {
    transform: scale(0.8, 0.8);
}