@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@font-face {
    font-family: Ubuntu;
    src: url("../fonts/ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: Ubuntu;
    src: url("../fonts/ubuntu/Ubuntu-MediumItalic.ttf");
    font-style: italic;
}

@font-face {
    font-family: Ubuntu;
    src: url("../fonts/ubuntu/Ubuntu-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Ubuntu;
    src: url("../fonts/ubuntu/Ubuntu-Light.ttf");
    font-weight: light;
}

@font-face {
    font-family: Ubuntu;
    src: url("../fonts/ubuntu/Ubuntu-LightItalic.ttf");
    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: Garamond;
    src: url("../fonts/Garamond.ttf");
}

:root {
    --size-title: 8.5rem;
    --size-semi-title: 1.5rem;
    --size-header: 4.5rem;
    --size-semi-header: 2.5rem;
    --size-text-content: 18px;
    --size-text-regular: 18px;
    --size-text-script: 16px;
    --text-space-regular: 0.5px;
    --text-space-doubled: 1px;
    --text-space-wide: 5px;
}


/* Common text elements */

h1,
h2,
h3 {
    font-family: Garamond;
    font-weight: 300;
}

em {
    font-style: italic;
}

p {
    display: block;
}

span {
    display: inline-block;
}


/* Functional text sizes */

.header {
    font-size: var(--size-header);
}

.sub-header {
    font-size: var(--size-semi-header);
}

.title {
    font-size: var(--size-title);
}

.semi-title {
    font-size: var(--size-semi-title);
}

.description {
    font-size: var(--size-text-regular);
    font-style: italic;
    color: gray;
}

.content__text p {
    font-size: var(--size-text-content);
}

.content__title h2.semi-title {
    padding-left: 2vw;
    font-family: Ubuntu;
    font-style: italic;
    font-weight: light;
    color: grey;
}

.centered {
    font-weight: normal;
    padding: 0;
    padding-bottom: 2rem;
    width: auto;
    text-align: center;
}

p.scripted {
    font-size: var(--size-text-script);
}


/* Text weights  */

.light {
    font-weight: 100;
}


/* Text spacing for decoration  */

.spaced {
    letter-spacing: var(--text-space-regular);
}

.double-spaced {
    letter-spacing: var(--text-space-doubled);
}

.header-spaced {
    letter-spacing: var(--text-space-wide);
}

.content__text p {
    line-height: 1.5em;
    letter-spacing: var(--text-space-regular);
    text-align: justify;
}

.content__text p:not(:last-child) {
    padding-bottom: 1em;
}


/* Alignment */

.align-left {
    text-align: left;
}