@media only screen and (max-width: 1300px) {
    .menubar__indexes {
        display: none !important;
    }
    a.card {
        max-width: 90vw !important;
        min-width: 50vw !important;
    }
    ul#contact-list li {
        max-width: 65vw !important;
        min-width: 40vw !important;
    }
    h2 {
        font-size: 2em;
    }
    div.post-content p {
        font-size: 14px;
    }
    div.post-content ul {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1000px) {
    .flex-horizontal {
        flex-direction: column !important;
    }
    .content__westside {
        justify-content: center !important;
    }
    .content__eastside {
        display: block !important;
    }
    div#contact-container {
        background-position: bottom -65% right 0% !important;
        background-size: 100% !important;
    }
    a.post {
        max-width: 80% !important;
        min-width: 80% !important;
    }
}

@media only screen and (max-width: 800px) {
    h1.title {
        font-size: 60px !important;
    }
    div.menubar__logo h1 {
        padding-bottom: 0 !important;
        font-size: 28px !important;
    }
    h1.header {
        font-size: 40px !important;
        padding-bottom: 1em !important;
        width: 100% !important;
        text-align: center !important;
    }
    h2 {
        font-size: 28px !important;
    }
    h2.semi-title {
        width: 100% !important;
        text-align: center !important;
        font-size: 18px !important;
        padding: 0 !important;
    }
    span {
        font-size: 16px !important;
    }
    span#formore {
        margin: 0 !important;
        margin-top: 1em !important;
    }
    p {
        font-size: 14px !important;
    }
    button {
        height: 3em;
        width: auto !important;
    }
    section {
        width: 100vw !important;
    }
    div.card__image img {
        max-width: 70px !important;
        max-height: 70px !important;
    }
    div.card__content h1 {
        font-size: 24px !important;
    }
    div.card__content p {
        text-align: left !important;
    }
    div.section__container {
        width: auto !important;
        padding-left: 5vw !important;
        padding-right: 5vw !important;
        padding-top: 5vh !important;
        padding-bottom: 5vh !important;
    }
    img.image-avatar {
        margin: 1rem;
    }
    div.hero-area__content {
        margin: 0;
        padding: 0;
        width: 100% !important;
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }
    div.content__traversal {
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
        justify-self: center;
    }
    div.travesal__container {
        width: 60vw !important;
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        justify-content: center;
        align-items: center;
        margin-top: 15vh !important;
    }
    div.content__travesal span {
        width: 100%;
        display: block;
        text-align: center;
    }
    .hero-area__menubar {
        height: 50px !important;
    }
    a.card {
        max-width: 75vw !important;
        min-width: 75vw !important;
    }
    div.content__titlebox {
        margin-bottom: 1rem !important;
    }
    .content__northside {
        flex-direction: column !important;
    }
    .content__eastside {
        padding: 0px !important;
    }
    .content__title {
        flex-direction: column !important;
        width: 100% !important;
        justify-content: center !important;
        align-items: center !important;
        align-content: center !important;
    }
    .content__title h1 {
        padding-left: 0 !important;
        padding-top: 1em !important;
    }
    img#keyboard {
        display: none;
    }
    div#contact-container {
        padding-top: 5vh !important;
        background-size: 100% !important;
        background-position-x: center !important;
        background-position-y: top;
    }
    #contact-container div.content__westside {
        max-width: 100% !important;
        min-width: 100% !important;
    }
    ul#contact-list li {
        max-width: 75vw !important;
        min-width: 75vw !important;
    }
    .width-half {
        max-width: 100% !important;
        min-width: 100% !important;
    }
    section#projects .margin-x-5 {
        margin: 1em;
    }
    ul#contact-list li a:hover {
        transform: none !important;
        transition: var(--element-hover);
        border: var(--border-hovered);
    }
}