@import url("./globalvars.css");
@import url("./responsive.css");

/* The Hero Section */

.hero-area {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(21, 21, 21, 1) 0%, rgba(21, 21, 21, 1) 35%, rgba(21, 21, 21, 0.9) 60%, rgba(21, 21, 21, 0.75) 70%, rgba(21, 21, 21, 0.5) 80%, rgba(21, 21, 21, 0.25) 90%, rgba(21, 21, 21, 0) 100%), url("../images/porfolio-cover.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-area__menubar {
    margin: 0;
    width: 100%;
    height: 75px;
    position: fixed;
    z-index: 50;
    top: 0;
}

.menubar__logo {
    float: left;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
}

.menubar__indexes {
    float: right;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.indexes--items {
    height: 100%;
}

.indexes__item {
    height: 100%;
    display: inline-flex;
    transition: var(--element-regular);
}

.indexes__item:hover {
    border-bottom: var(--border-thickness);
    border-bottom-color: var(--color-alternative);
    color: var(--color-alternative);
    transition: var(--element-none);
}

.indexes__item a {
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: var(--foreground-light);
}

.menubar__logo {
    padding-left: 30px;
}

.hero-area__content {
    padding-left: 10vw;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.content__titlebox {
    margin-bottom: 5em;
    padding: 0;
    display: flex;
    align-content: flex-end;
}

.content__titlebox h1 {
    margin: 0;
}

.content__traversal {
    display: flex;
    align-content: flex-start;
}

.travesal__container {
    margin-top: 3em;
}

.button-wrapper {
    display: inline-flex;
}

.button-wrapper button {
    width: var(--button-width-regular);
}

.travesal__container span {
    margin: 1em;
}


/* Sections definitions */

#introduction {
    background-color: var(--background-dark);
}

#expertise {
    background-color: var(--background-dark);
}

.section__container {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.content__westside {
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    align-items: center;
    align-items: flex-start;
    box-sizing: content-box;
    object-fit: cover;
    height: 100%;
}

#keyboard {
    width: 30vw;
}

.content__eastside {
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-self: center;
}

.content__northside {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

.content__title {
    display: flex;
    align-items: baseline;
    padding-bottom: 3em;
}

.underlined {
    width: fit-content;
    padding-bottom: 2em;
    border-bottom: var(--border-thickness);
}

.content__title h1 {
    margin: 0;
    padding: 0;
}

.image-avatar {
    margin: 3rem;
    margin-left: 0;
    display: inline-block;
    border-radius: 100%;
}

.content__text {
    display: flex;
    flex-direction: column;
}


/* Skill Card properties */

div.card-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    margin-left: -2vw;
    margin-right: -2vw;
    margin-bottom: 2rem;
}

a.card {
    margin: 1em;
    padding: 1.5em;
    border: 2px solid var(--background-dimmed);
    border-width: var(--border-thickness);
    width: 27%;
    min-width: 20vw;
    max-width: 100%;
    transition: var(--element-regular);
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    color: var(--foreground-light);
    text-decoration: none;
}

a.card:hover {
    border-color: var(--background-light);
    transition: var(--element-none);
    transform: translate(0, 5px);
}

a.card[href^="http"]:hover {
    border-color: var(--color-alternative);
    transition: var(--element-none);
    transform: translate(0, 5px);
}

a.card div.card__image a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}

div.card__image img {
    padding: 0;
    /* background-image: linear-gradient(45deg, transparent, var(--color-alternative)); */
    max-height: 100px;
    width: auto;
    max-width: 100px;
    overflow: visible;
}

.inverted {
    filter: invert(100);
}

a.card div.card__content {
    margin: 0;
    padding: 0;
    padding-left: 1.5em;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    text-align: justify;
}

div.card__content h1 {
    margin: 0;
    padding: 0;
    text-align: left;
    padding-bottom: 0.5em;
}

div.card__content h1:hover {
    color: var(--color-alternative);
    transition: var(--element-none);
}

.hovered {
    color: var(--color-alternative);
}

div.card__content p:not(:last-child) {
    text-align: left;
    padding-bottom: 0.5rem;
}


/*
div.card__content p:first-child {
    text-align: justify;
} */

div.card__content p em {
    text-align: justify;
    color: var(--color-alternative);
    font-size: var(--size-text-script);
}


/* CONTACT SECTION */

#contact {
    background-color: var(--background-black);
}

#contact-container {
    margin-right: 0;
    padding-right: 0;
    background-image: url(../images/devices.gif);
    background-position: bottom 50% right -50%;
    background-repeat: no-repeat;
    background-size: 60vw auto;
    background-attachment: local;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

#contact-container div.content__westside {
    float: left;
    min-width: 45%;
    max-width: 50%;
}

ul#contact-list {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

ul#contact-list li {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
    align-items: center;
}

ul#contact-list li a {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-decoration: none;
    border: var(--border-regular);
    box-sizing: border-box;
    transition: var(--element-regular);
}

ul#contact-list li a i {
    display: inline-block;
    padding: 20px;
    border-right: var(--border-regular);
    transition: var(--element-regular);
}

ul#contact-list li a span {
    color: white;
    display: inline-block;
    padding: 20px;
}

ul#contact-list li a:hover {
    transform: translate(30px, 0);
    transition: var(--element-hover);
    border: var(--border-hovered);
}

ul#contact-list li a:hover i {
    border-right: var(--border-hovered);
    transition: var(--element-hover);
}

#menubar {
    background-color: transparent !important;
    transition: var(--element-regular)
}

#menubar.scrolled {
    transition: var(--element-regular);
    /* background-image: linear-gradient(90deg, rgba(21, 21, 21, 1) 0%, rgba(21, 21, 21, 1) 35%, rgba(21, 21, 21, 0.9) 60%, rgba(21, 21, 21, 0.75) 70%, rgba(21, 21, 21, 0.5) 80%, rgba(21, 21, 21, 0.25) 90%, rgba(21, 21, 21, 0) 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background-color: rgba(21, 21, 21, 0.66);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 15px 1px black;
}

#summary__header {
    padding-bottom: 0px;
}

li.active {
    box-sizing: border-box;
    border-bottom: 3px solid white;
    transition: none;
    font-weight: bold;
}

li.active:hover {
    color: white;
    border-bottom: 3px solid white;
}